apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: cert-manager
generatorOptions:
  disableNameSuffixHash: true
resources:
  - acme-le-dns-cf-issuer.yaml
  - acme-le-http-issuer.yaml
  - acme-le-http-staging-issuer.yaml
  - acme-olf-http-issuer.yaml
secretGenerator:
  - name: cloudflare-api-token
    envs:
      - cloudflare-api-token.sops.env
